.graph {
  position: relative;
}

.graph__item__img {
  margin: 5px;
  width: 200px;
  height: 200px;
  border: 1px solid #cf4d35;
  cursor: pointer;
}

.graph__item__img:hover {
  width: 198px;
  height: 198px;
  border-width: 2px;
}

.graph__item__link {
  width: 100%;
  color: #cf4d35;
  text-align: center;
}

.graph__detail {
  position: absolute;
  top: 25%;
  left: 5%;
  border: 3px solid #cf4d35;
  cursor: pointer;
  z-index: 10001;
}
